@model Mlm.Web.Models.ProfileModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Profile_Layout.cshtml";
}

<div class="container">

    <div class="row">
        @Html.Partial("UserInfo", Model)
        @{Html.RenderAction("Player", "Player");}
    </div>
</div>
